.jumbotron {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 90vh;
  background-color: teal;
}

.content-kampoeng {
  margin-top: 175px;
  height: 40vh;
  text-align: center;
}

.content2 {
  height: 50vh;
  background-color: teal;
}
.main-content2 {
  padding-left: 120px;
  padding-right: 120px;
  margin-top: 80px;
}

.content4 {
  height: 60vh;
  background-color: teal;
}
.main-content4 {
  padding-left: 120px;
  padding-right: 120px;
  background-color: blueviolet;
}
